# Ignore .env files in any subdirectory
**/.env
**/.env.*
*.env

# Django specific (for all projects)
**/db.sqlite3
**/__pycache__/
**/*.pyc
**/media/
**/uploads/

db.sqlite3
__pycache__/
*.pyc
media/
uploads/
# Ignore environment variable files
.env
.env.*
